
<div class="indexHeader col-md-3">
  <a href="/#/"><h1>Lewis Engel</h1></a>

  <div class="worksBox">
    <a href="/#/about"><span class="colorFive">About</span></a>
    <a href="/#/contact"><span class="colorSix">Contact</span></a>
    <br>
    <a href="/#/text"><span class="colorOne">Textures</span></a>
    <a href="/#/magnet"><span class="colorTwo">Magnets</span></a>
    <a href="/#/gauge"><span class="colorThree">Gauges</span></a>
    <a href="/#/animation"><span class="colorFour">Animations</span></a>
  </div>
</div>

<div class="col-md-9 workingHeaders">
  <h2>About</h2>

  <p>Some info, about someone and some art.</p>
</div>
